UIElementsSchema/Unity.Behavior.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.Behavior" elementFormDefault="qualified" targetNamespace="Unity.Behavior" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Unity.AppUI.UI.xsd" namespace="Unity.AppUI.UI" />
  <xs:import schemaLocation="Unity.Behavior.GraphFramework.xsd" namespace="Unity.Behavior.GraphFramework" />
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="StoryFieldWithValidationType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputFieldWithValidationType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InputFieldWithValidationType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Unity.AppUI.UI" base="q1:ExVisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InputFieldWithValidation" xmlns:q2="Unity.AppUI.UI" substitutionGroup="q2:ExVisualElement" type="tns:InputFieldWithValidationType" />
  <xs:element name="StoryFieldWithValidation" substitutionGroup="tns:InputFieldWithValidation" type="tns:StoryFieldWithValidationType" />
  <xs:complexType name="BehaviorGraphEditorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="Unity.Behavior.GraphFramework" base="q3:GraphEditorType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BehaviorGraphEditor" xmlns:q4="Unity.Behavior.GraphFramework" substitutionGroup="q4:GraphEditor" type="tns:BehaviorGraphEditorType" />
  <xs:complexType name="BehaviorInspectorViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="Unity.Behavior.GraphFramework" base="q5:InspectorType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BehaviorInspectorView" xmlns:q6="Unity.Behavior.GraphFramework" substitutionGroup="q6:Inspector" type="tns:BehaviorInspectorViewType" />
  <xs:complexType name="HelpTextType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="Unity.AppUI.UI" base="q7:ExVisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HelpText" xmlns:q8="Unity.AppUI.UI" substitutionGroup="q8:ExVisualElement" type="tns:HelpTextType" />
  <xs:complexType name="BehaviorToolbarType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="Unity.Behavior.GraphFramework" base="q9:GraphToolbarType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BehaviorToolbar" xmlns:q10="Unity.Behavior.GraphFramework" substitutionGroup="q10:GraphToolbar" type="tns:BehaviorToolbarType" />
  <xs:complexType name="BlackboardEditorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BlackboardEditor" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:VisualElement" type="tns:BlackboardEditorType" />
  <xs:complexType name="StoryEditorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="UnityEngine.UIElements" base="q13:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoryEditor" xmlns:q14="UnityEngine.UIElements" substitutionGroup="q14:VisualElement" type="tns:StoryEditorType" />
  <xs:complexType name="BehaviorGraphViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="Unity.Behavior.GraphFramework" base="q15:GraphViewType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BehaviorGraphView" xmlns:q16="Unity.Behavior.GraphFramework" substitutionGroup="q16:GraphView" type="tns:BehaviorGraphViewType" />
  <xs:complexType name="TextFieldWithValidationType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputFieldWithValidationType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextFieldWithValidation" substitutionGroup="tns:InputFieldWithValidation" type="tns:TextFieldWithValidationType" />
</xs:schema>